# Python bytecode
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
venv/
.venv/
env/
.env/

# Папки и файлы, генерируемые Pytest и Allure
.pytest_cache/
.coverage
coverage.xml
*.cover
.hypothesis/
target/*
!target/allure-results/**

# Файлы IDE (например, для VS Code)
.vscode/
.idea/

# Папки и файлы, генерируемые системой (например, MacOS, Windows)
.DS_Store
Thumbs.db
